.styleContainer {
    max-height: 422px;
    overflow: auto;
}

.styleContainer ul {
    list-style: none;
    padding: 0px;
    margin: 0.15em 0;
}

.styleContainer img.selected { 
    border: 0.2em solid;
    padding: 0;
}

.styleContainer img {
    cursor: pointer;
    padding: 0.15em;
    height: 40px !important;
}

.styleContainer li {
    position: relative;
}

.styleContainer .imageContainer {
    position: relative;
    width: max-content;
    max-width: 100%;
}

.styleContainer .imageLabel {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
    font-weight: bold;
    text-shadow: 1.5px 1.5px 0 #ffffff, 1.5px -1.5px 0 #ffffff, -1.5px 1.5px 0 #ffffff, -1.5px -1.5px 0 #ffffff, 1.5px 0px 0 #ffffff, 0px 1.5px 0 #ffffff, -1.5px 0px 0 #ffffff, 0px -1.5px 0 #ffffff;
}
