.containerFooter{
    padding: 1rem;
    background-color: #f5f5f5;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #ccc;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    position: fixed;
}

.containerlogo {
	max-width: 10em;
	padding: 0 0.5rem;
}

.containertitle{
    font-size: 0.788em;
    padding: 0 0.5rem;
}

.containeritemRight{
    font-size: 0.788em;
    padding: 0 0.5rem;
}
